.description {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.variable {
    display: flex;
    justify-content: space-between;
    margin: 1px 0;
}

.variableList {
    margin: 5px 10px;
}