.modal {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(47, 79, 79);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    background: white;
  }